<head>
  {{ if (eq .Title .Site.Title) -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{- end }}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="{{ .Description }}">
  <meta name="geo.position" content="59.907389;10.84698" >
  <meta name="ICBM" content="59.907389, 10.84698" >
  <link rel="stylesheet" href="{{ "assets/css/main-2023-05-06.css" | relURL }}" media="screen">

  <link rel="icon" href="{{ "images/logo_16.png" | relURL}}" sizes="16x16" />
</head>
